{% extends "base.html" %}
{% block content %}
<h3>Flesh and Blood - Minhas Partidas</h3>
<a class="btn btn-success mb-3" href="{{ url_for('new_match') }}">Nova Partida</a>
<a class="btn btn-info mb-3" href="{{ url_for('stats') }}">Ver Estatísticas</a>

<ul class="list-group">
{% for m in matches %}
<li class="list-group-item">
    {{ m.created_at }} - Resultado:
    <td>
    {% if m.winner == "me" %}
        <span class="badge bg-success fs-6">
            VICTORY <span class="fw-normal">vs {{ m.opponent_hero.name }}</span>
        </span>
    {% else %}
        <span class="badge bg-danger fs-6">
            DEFEAT <span class="fw-normal">vs {{ m.opponent_hero.name }}</span>
        </span>
    {% endif %}
        <br>Sideboard: {{ m.sideboard }}
</td>
</li>
{% endfor %}
</ul>
{% endblock %}
